@media (min-width: $small) {
  header {
    .container {
      nav {
        ul {
          width: 70%;
          padding: 0;

          li {
            a {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
